<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Churn Indicator</title>
    <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <form action="{{url_for('predict_datapoint')}}" method="POST">
        <!-- Customer Age -->
        <div class="mb-3">
            <label class="form-label">Customer Age</label>
            <input class="form-control" type="number" name="Customer_Age" placeholder="Age" min="18" max="75" required />
        </div>
        <!-- Gender -->
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" name="Gender" required>
                <option selected disabled value="">Select your Gender</option>
                <option value="F">Female</option>
                <option value="M">Male</option>
            </select>
        </div>
        <!-- Dependent Count -->
        <div class="mb-3">
            <label class="form-label">Dependent Count</label>
            <input class="form-control" type="number" name="Dependent_count" placeholder="Number of Dependents" min="0" max="6" required />
        </div>
        <!-- Education Level -->
        <div class="mb-3">
            <label class="form-label">Education Level</label>
            <select class="form-control" name="Education_Level" required>
                <option selected disabled value="">Select Education Level</option>
                <option value="Uneducated">Uneducated</option>
                <option value="High School">High School</option>
                <option value="College">College</option>
                <option value="Graduate">Graduate</option>
                <option value="Post-Graduate">Post-Graduate</option>
                <option value="Doctorate">Doctorate</option>
                <option value="Unknown">Unknown</option>
            </select>
        </div>
        <!-- Marital Status -->
        <div class="mb-3">
            <label class="form-label">Marital Status</label>
            <select class="form-control" name="Marital_Status" required>
                <option selected disabled value="">Select Marital Status</option>
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Divorced">Divorced</option>
                <option value="Unknown">Unknown</option>
            </select>
        </div>
        <!-- Income Category -->
        <div class="mb-3">
            <label class="form-label">Income Category</label>
            <select class="form-control" name="Income_Category" required>
                <option selected disabled value="">Select Income Category</option>
                <option value="Less than $40K">Less than $40K</option>
                <option value="$40K - $60K">$40K - $60K</option>
                <option value="$60K - $80K">$60K - $80K</option>
                <option value="$80K - $120K">$80K - $120K</option>
                <option value="$120K +">$120K +</option>
                <option value="Unknown">Unknown</option>
            </select>
        </div>
        <!-- Card Category -->
        <div class="mb-3">
            <label class="form-label">Card Category</label>
            <select class="form-control" name="Card_Category" required>
                <option selected disabled value="">Select Card Category</option>
                <option value="Blue">Blue</option>
                <option value="Silver">Silver</option>
                <option value="Gold">Gold</option>
                <option value="Platinum">Platinum</option>
            </select>
        </div>
        <!-- Months on book -->
        <div class="mb-3">
            <label class="form-label">Months Active</label>
            <input class="form-control" type="number" name="Months_on_book" placeholder="No. of months in relationship with bank" min="13" max="60" required />
        </div>    
        <!-- Total_Relationship_Count -->
        <div class="mb-3">
            <label class="form-label">Total Relationship Count</label>
            <input class="form-control" type="number" name="Total_Relationship_Count" placeholder="No. of products held by customer" min="1" max="6" required />
        </div>
        <!-- Months_Inactive_12_mon-->
        <div class="mb-3">
            <label class="form-label">Months Inactive</label>
            <input class="form-control" type="number" name="Months_Inactive_12_mon" placeholder="No. of months inactive in the last 12 months" min="0" max="6" required />
        </div>   
        <!-- Contacts_Count_12_mon -->
        <div class="mb-3">
            <label class="form-label">Contacts Count</label>
            <input class="form-control" type="number" name="Contacts_Count_12_mon" placeholder="No. of contacts in the last 12 months" min="0" max="6" required />
        </div>   
        <!-- Credit_Limit -->
        <div class="mb-3">
            <label class="form-label">Credit Limit</label>
            <input class="form-control" type="float" name="Credit_Limit" placeholder="Credit limit on the Credit Card" min="1400" max="35000" required />
        </div>       
        <!-- Total_Revolving_Bal -->
        <div class="mb-3">
            <label class="form-label">Total Revolving Balance</label>
            <input class="form-control" type="float" name="Total_Revolving_Bal" placeholder="Total Revolving Balance on the Credit Card" min="0" max="2500" required />
        </div>
        <!-- Avg_Open_To_Buy -->
        <div class="mb-3">
            <label class="form-label">Avg Open To Buy</label>
            <input class="form-control" type="float" name="Avg_Open_To_Buy" placeholder="Open to Buy Credit Line (Average of last 12 months)" min="0" max="35000" required />
        </div>     
        <!-- Total_Amt_Chng_Q4_Q1 -->
        <div class="mb-3">
            <label class="form-label">Total Amount Change Q4 -> Q1</label>
            <input class="form-control" type="float" name="Total_Amt_Chng_Q4_Q1" placeholder="Change in Transaction Amount (Q4 over Q1)" min="0" max="3.5" required />
        </div>   
        <!-- Total_Trans_Amt -->
        <div class="mb-3">
            <label class="form-label">Total Transaction Amount</label>
            <input class="form-control" type="float" name="Total_Trans_Amt" placeholder="Total Transaction Amount in last 12 months" min="500" max="18500" required />
        </div>    
        <!-- Total_Trans_Ct -->
        <div class="mb-3">
            <label class="form-label">Total Transaction Count</label>
            <input class="form-control" type="number" name="Total_Trans_Ct" placeholder="Total Transaction Count in last 12 months" min="1" max="150" required />
        </div>   
        <!-- Total_Ct_Chng_Q4_Q1 -->
        <div class="mb-3">
            <label class="form-label">Total Count Change Q4 -> Q1</label>
            <input class="form-control" type="float" name="Total_Ct_Chng_Q4_Q1" placeholder="Change in Transaction Count (Q4 over Q1)" min="0" max="3.8" required />
        </div>   
        <!-- Avg_Utilization_Ratio -->
        <div class="mb-3">
            <label class="form-label">Credit Card Utilization</label>
            <input class="form-control" type="float" name="Avg_Utilization_Ratio" placeholder="Card Utilization Ratio" min="0" max="1" required />
        </div>

        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict Attrition Flag" required />
        </div>
        <h3>
            The prediction is an {{results}}
        </h3>
    </form>
</body>
</html>
